[submodule "glfw"]
	path = libs/glfw
	url = https://github.com/CloudCodingSpace/glfw
[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "slog"]
	path = libs/slog
	url = https://github.com/CloudCodingSpace/slog
